body {
    background: #DFDFDF;
    margin: 0;
    padding: 0;
    
  
}
#error-message{
    position : absolute;
    font-size: 12px;
    font-weight: bold;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 100vh; 
    width: 100%;
}



/*SVG de decoração*/
.text{
    color: #ADA4A4;
    font-size: 11px;
    font-weight: 100; 
}


.fundos{
    width: 834px;
    height: 1024px;
    flex-shrink: 0;
    z-index: 1;
    position: fixed;
    left: 0;
    margin: 0;
    padding: 0;
}


/* Elementos para fazer Cadastro*/
/*Div branca*/
.cadastro {
    width: 550px;
    height: 92%;
    border-radius: 30px;
    background: #ffffff;
    position: relative; 
    z-index: 2;
    display: flex;
    flex-direction: column; 
    color: rgb(0, 0, 0);
    right: 0;
}


/*Container com elementos*/
.cadasposi{
    width: 300px;
    height: 92%;
    float: right;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

/*Titulo*/
.cadasposi h3{
    text-align: center;
    font-size: 20px;
    margin-bottom: 18px;
}

/*Opções*/
.cadasposi p{
    color: #453F3F;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.333px;
}


/*Text Field/Input*/
.input-container {
    position: relative;
}

input {
    height: 38px;
    width: 280px;
    border: 1px solid #EAE7E7;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 16px;
    background: #EAE7E7;
    margin-bottom: 8px;
}

.input-container .placeholder input[type="password"]  { 
    color: #3b3b3b;
    font-size: 11px;
    font-weight: 100; 
}

.input-container .placeholder  input[type="text"]   { 
    color: #3b3b3b;
    font-size: 11px;
    font-weight: 100; 
}

.label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25px;
    display: flex;
    align-items: center;
}

/*Botão cadastrar*/
.butaocadastrar {
    display: flex;
    justify-content: center;
    padding-top: 45px;
}

button{
    width: 200px;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    background-color: #000;
    color: white;
    border: 1px solid black;
    margin-bottom: 7px;  
}

.butaocadastrar button {
    position: absolute; /* Defina a posição como absoluta */
    left: 50%; /* Posicione o botão no meio horizontal da .login */
    transform: translateX(-50%); /* Centralize o botão horizontalmente */
    /* Outros estilos do botão, se necessário */
}


/*Link para login*/
.japossuiconta{
    text-align: center;
    margin-top: auto;
    margin-bottom: 0px;
}

.japossuiconta p{
    font-size: 11px;
    color: #A19494;
}
.japossuiconta p a{
    font-size: 11px;
    color: #0037A0;
}


/*Imagem na Div Cadastro*/
.imagem-na-div-cadastro{
    display: flex;
    justify-content: right;
    align-items: right;
    margin-right: 60px;
}

.imagem-na-div-cadastro img{
    position: absolute;
    top: 0;
    width: 71px;
    height: 100px;
    margin-top: 30px;
}
/*Fim Elementos Cadastro*/


a {
    text-decoration: none; /*Retirar sublinhado do link*/
}

    
/*Div Olá*/
.hello{
    background-color: rgb(0, 0, 0);
    width: 350px;
    height: 250px;
    z-index: 3;
    border-radius: 20px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
    padding: 30px;
    margin-left: -140px; /* Espaço entre .bemvindo e .login */
    color: #ffffff;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    align-items: center;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif
}

/*titulo Olá*/
.hello h3{
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:  60px;
    padding-bottom: 15px;
    margin: 5px 0;
}

/*texto da Div*/
.hello p {
    margin: 5px 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    padding-left: 20px;
    padding-right: 20px;
}

/*imagem na parte inferior da Div*/
.hello img:last-child{
    margin-top: auto;
    width: 100px;
    height: auto;
    margin-bottom: 10px; 
}

.container {
    display: flex;
    flex-wrap: wrap;
}

/*MOBILE*/
@media screen and (max-width: 768px) { 

    html, body {
        overflow-x: hidden;
      }
    main{ 
        min-height: 100vh;
    }
    section {
        flex-direction: column-reverse;
        /* Isso coloca a div "hello" acima da div "cadastro" na versão móvel */
        align-items: center;
        justify-content: center;
      }

    .imagem-na-div-cadastro {
      display: none; /* Oculta a div em dispositivos móveis */
    }
  
    .fundos {
      display: none; 
    }
    
    .hello {
        width: 100%;
        margin-top: 1px;
        order: 1;
        margin-left: 1px;
        border-radius: 0px;
    ;
    }
    .hello p{
        margin-bottom: 16%;
    }
    .hello h3 {
        margin-top: 30px;
    }
    
    .cadastro {
        width: 90%;
        margin-top: 20px;
    
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        
        
        
    }
   
    .cadasposi{
        width: 80%; /* Certifique-se de ocupar a largura completa da div "cadastro" */
        display: flex;
        flex-direction: column;
         /* Centralize horizontalmente na versão móvel */
        justify-content: center; /* Centralize verticalmente na versão móvel */
        height: 100%; /* Centralize verticalmente na versão móvel */
       margin: 10px;
       padding: 0px;
    }
    input{
        width: 100%;
    }

  }
  

