<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="login.css">
    <link rel="icon" href="Imagens/Frame 14 (1).png" type="image/x-icon">
    <script src="./login.js"> defer</script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fazer Login no ParkFinder</title>
</head>
<body>
    <main>
        <div class="fundo">
            <svg xmlns="http://www.w3.org/2000/svg" width="782" height="1024" viewBox="0 0 782 1024" fill="none">
                <path d="M0 0H552L693 358L760.914 530.435C805.192 642.857 777.705 770.87 691.179 855.205L518 1024H0V0Z" fill="#6D6D6D"/>
            </svg> 
        </div>

        <section>
            <div class="bemvindo">
                <img class="logogrande" src="Imagens/logobranca.png" alt="Logo ParkFinder">
                <h1>BEM VINDO DE VOLTA!</h1>
                <p>Faça Login para continuar.</p>
                <img src="Imagens/nome app.png" alt="Nome ParkFinder">
            </div>

            
            <div class="login">
                <h1>Login</h1>
                
                <p>Email</p>
                <div class="input-container ">
                    <div class="placeholder">
                        <input type="text" id="email" name="seuemail" aria-labelledby="label-email"placeholder="Seu Email" />
                        <label class="label" for="femail" id="label-femail"></label>
                    </div>
                </div>

                <p>Senha</p>
                <div class="input-container">
                    <div class="placeholder">
                        <input type="password" id="senha" name="suasenha" aria-labelledby="label-senha" placeholder="Sua Senha" />
                        <label class="label" for="senha" id="label-senha"></label>
                    </div>
                </div>

                <p><a class="lin" href="recuperação.html">Esqueceu sua senha?</a></p>
                <div th:if="${erro != null}" th:text="${erro}" class="alert alert-danger" role="alert"></div>
                <div class="butaologin">
                    <button id="botaocad" class="center-button"><b>Login</b></button>
                </div>

                <div class="ultimocadastro"> 
                    <p>Não possui uma conta? <a href="cadastro.html"> Cadastre-se</a></p>
                </div>  
            </div>
    
        </section>

    </main>
</body>
</html>