body {
    background: #DFDFDF;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.fundo {
    width: 834px;
    height: 1024px;
    flex-shrink: 0;
    z-index: 1;
    position: fixed;
    left: 0;
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 100vh; 
    width: 100%;
}



/*Div Elementos Bem Vindo*/
.bemvindo{
    width: 500px;
    height: 550px;
    border-radius: 30px;
    background: #000;
    position: relative; 
    z-index: 2;
    display: flex;
    flex-direction: column; 
    text-align: center;
    color: white;
    font-family:Arial, Helvetica, sans-serif
}

.bemvindo img { 
    display: block; 
    margin: 0 auto; 
    margin-top: 70px; 
    width: 13%;
    height: auto;
}

.bemvindo img:last-child {
    margin-top: auto;
    width: 100px;
    height: auto;
    margin-bottom: 20px; 
}

.bemvindo h1{
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 100px;
    padding-right: 100px;
    padding-top:  50px;
    padding-bottom: 30px;
    display: block;
    margin: 5px 0;
    text-align: left;
}

.bemvindo p{
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    padding-left: 100px;
    padding-right: 100px;
    display: block;
    margin: 5px 0;
    text-align: left;
}
/*Fim Elementos da Div Bem Vindo*/


.login{
    background-color: white;
    width: 300px;
    height: 400px;
    z-index: 3;
    border-radius: 20px;
    float: right;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: -25px; /* Espaço entre .bemvindo e .login */
    color: #000;
    position: relative;
    display: flex;
    flex-direction: column;
}

.login h1{
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
}



.login p{
    color: #453F3F;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.333px;
}


/*Dados Login*/
.input-container {
    position: relative;
}

input {
    height: 43px;
    width: 300px;
    border: 1px solid #EAE7E7;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 16px;
    background: #EAE7E7;
}

.label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25px;
    display: flex;
    align-items: center;
}

.input-container .placeholder input[type="password"]  { 
    color: #3b3b3b !important;
    font-size: 11px;
    font-weight: 100; 
}

.input-container .placeholder  input[type="text"]   { 
    color: #3b3b3b !important;
    font-size: 11px;
    font-weight: 100; 
}

.text{
    color: #ADA4A4;
    font-size: 11px;
    font-weight: 100; 
}
/*Fim Dados Login*/


/*Esqueceu Senha*/
.lin{
    float: right;
    font-size: 11px;
    color: #0037A0;
}

a {
    text-decoration: none; 
}

/*Botâo Login*/
button{
    width: 200px;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    background-color: #000;
    color: white;
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 7px;
}

.butaologin {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.butaologin button {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
}
/*Fim Botâp*/


/*Não possui conta*/
.ultimocadastro p{
    font-size: 11px;
    color: #A19494;
}

.ultimocadastro{
    text-align: center;
    margin-top: auto;
    margin-bottom: 0px;
}

.ultimocadastro p a{
    font-size: 11px;
    color: #0037A0;
}
/*FIM*/

/*MOBILE*/
@media screen and (max-width: 768px) {

    html, body {
        overflow-x: hidden;
        margin: 0;
        border: 0;
        padding: 0;
      }
    main{ 
        margin-bottom: 50px;
    }
    section {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .fundo{
        display: none;
    }


    /*Bem Vindo*/
    .bemvindo {
        width: 100%;
        height: auto;
        margin-top: 0;
        order: 1;
        float: left;
        border-radius: 0px ;
        margin-bottom: 10%;
        margin-left: 0;
        margin-right: 0;
        border: 0;
    }

    .bemvindo img{
        width: 7%;
        height: auto;
        margin-top: 30px;
    }

    .bemvindo img:last-child{
        width: 80px;
        height: auto;
    }

    .bemvindo h1 {
        font-size: 25px;
        padding-left: 15%;
        padding-right: 15%;
        padding-top:  10%;
        padding-bottom: 7%;
        text-align: left;
    }

    .bemvindo p {
        font-size: 14px;
        padding-left: 15%;
        padding-right: 15%;
        text-align: left;
        padding-bottom: 20%;
    }
    /*Fim Bem Vindo*/

    .login{
        width: 70%;
        margin-left: 0;  
        border: 10%; 
    }

    input{
        width: 100%;
    }

   .butaologin{
        margin-bottom: 20px;
    }

    

}