body {
    margin: 0;
    padding: 0;
}
.top-bar{
    background-color: black;
    height: 70px;
    width: 100%;
    position: fixed; /* Para fixar a div no topo da página */
    top: 0; /* Posiciona a div no topo */
    left: 0;
    border-radius: 0px 0px 20px 20px;
}

#divBusca{
    background-color:#ffffff;
    border:solid 2px #ffffff;
    border-radius:50px;
    width:300px;
    height: 40px;
    margin-left: 50px;
    margin-top: 13px;
  }
  
  #destino{
    float: left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:transparent;
    height:32px;
    width:245px;
    margin-top: 3px;
    margin-bottom: 3px;
    
    border-radius: 50px;
    padding-left: 10px;
    font-size: 14px;
  }
  
  #btnBusca{
    border:none;
    float:left;
    height:40px;
    border-radius:50px;
    width:40px;
    font-weight:bold;
    background:#000000;
    align-items: center;
  }
  
  #divBusca img{
    float:center;
  }

  input:focus {
    outline: none;
}
#map {
  height: 700px; /* Altura do mapa com espaço para a barra superior */
}
#info_divEstrutura{
  display: none;
  position: absolute;
  background-color: white;
  width: 525px;
  height: 130px;
  top: 520px;
  left: 65px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px 0px #00000040;
}