body {
    background: #EAE7E7;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden; /* Remove a rolagem vertical */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
#error-message{
    position: absolute;
    font-size: 11px;
    margin-left: 10%;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 100vh; 
    width: 100%;
}


/*Elementos div Fazer senha/Cabeçalho*/
.fazersenha{
    width: 500px;
    height: 550px;
    border-radius: 30px;
    background: #ffffff;
    position: relative; 
    z-index: 2;
    display: flex;
    flex-direction: column; 
    text-align: center;
    color: rgb(0, 0, 0);
    align-items: center; 
    border: 2px solid rgb(211, 211, 211);
}

.fazersenha img{
    width: 35px;
    height: auto;
    flex-shrink: 0;
    margin-top: 30px;
}

.fazersenha img:last-child {
    margin-top: auto;
    width: 100px;
    height: auto;
    margin-bottom: 20px; 
}

.left-align {
    text-align: left;
    margin-left: 10px; /* Defina a margem esquerda desejada */
}

.fazersenha h1{
    margin-left: 10%;
    margin-right: 10%;
}

.fazersenha p{
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 100;
    font-size: 90%;
    margin-bottom: 5%;
}
/*Fim div Fazer senha*/

/*Div De Dados*/
.novasenha{
   width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.novasenha h3{
    color: #453F3F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.333px;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
}

/*Text Field/ colocar Dados*/
.input-container {
    position: relative;
}

input {
    height: 38px;
    width: 80%;
    border: 1px solid #EAE7E7;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 16px;
    background: #EAE7E7;
    margin-bottom: 8px;
    margin-left: 10%;
    margin-right: 10%;
}

.input-container .placeholder input[type="password"]  { 
    color: #3b3b3b;
    font-size: 12px;
    font-weight: 100; 
}



.label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25px;
    display: flex;
    align-items: center;
}


/*Botâo Alterar Senha*/
button{
    width: 200px;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    background-color: #000;
    color: white;
    border: 1px solid black;
    margin-bottom: 7px;
    cursor: pointer
}


.butaoalterar {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    margin-bottom: 20px;
}


/*MOBILE*/
@media screen and (max-width: 768px) {
    html,body{
        margin: 2%;
        padding: 0;
        border: 0;
        background: #EAE7E7;
    }
    
    .fazersenha{
        width: 90%;
        height: auto;
        border: 1px solid rgb(211, 211, 211);
    }

    .fazersenha h1{
        margin-top: 10%;
        margin-bottom: 2%;
    }

    .butaoalterar{
        margin-bottom: 27px;
    }

    .black{
        display: none;
    }
}




