body {
    background: #D9D9D9;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden; /* Remove a rolagem vertical */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 100vh; 
    width: 100%;
}

.fundo {
    width: 873px;
    height: 1024px;
    flex-shrink: 0;
    z-index: 1;
    position: fixed;
    left: 0;
}

.recu{
    width: 500px;
    height: 550px;
    border-radius: 30px;
    background: #ffffff;
    position: relative; 
    z-index: 2;
    display: flex;
    flex-direction: column; 
    text-align: center;
    color: rgb(0, 0, 0);
    align-items: center;
}

.recu p{
    font-size: 20px;
}

.recu h5{
    margin-right: 250px;
     color: #bbb9b9;
     font-size: 20px;
}

.recu img{
    width: 35px;
    height: auto;
    flex-shrink: 0;
    margin-top: 30px;
}

.recu img:last-child {
    margin-top: auto;
    width: 100px;
    height: auto;
    margin-bottom: 20px; 
}

.recu h1{
    width: 220px;
    margin-top: 30px;
    font-size: 25px;
}

.left-align {
    text-align: left;
    margin-left: 10px; /* Defina a margem esquerda desejada */
}

.input-container {
    position: relative;
}

input {
    height: 50px;
    width: 50px;
    border: 1px solid #EAE7E7;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 16px;
    background: #EAE7E7;
    margin-left: 12px;
    margin-right: 12px;
}

.placeholder{
    margin-top: 10px;
}

button{
    width: 200px;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    background-color: #000;
    color: white;
    border: 1px solid black;
    margin-bottom: 7px;
}

.butaologin {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

a {
    text-decoration: none;
    
}

@media screen and (max-width: 768px) {
    html,body{
        margin: 0;
        padding: 0;
        border: 0;
        background: #a0a0a0;
    }
    
    .recu{
        width: 75%;
        height: auto;
        margin: 10px;
       
    }

    .recu p {
        margin: 10%;
        font-size: 17px;
        width: 70%;

    }

    .recu h1{
        margin-left: 10%;
        margin-right: 10%;
        font-size: 20px;
    }

    .recu h5 {
        margin-left: 20%;
    }
    

    input{
        margin: 2px;
    }

    .fundo{
        display: none;
    }

    .black{
        width: 50%;
        height: 100%;
        background-color: black;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0;
        margin: 0;
        border: 0;
    }

    .butaologin{
        margin-bottom: 20px;
    }
}